#main-container {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--background-color);
}

#cards-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.card-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  background-color: var(--foreground-color);
  padding: 30px;
  border: solid 3px black;
  border-radius: 10%;
  box-shadow: 10px 10px var(--accent-color-1);
  width: 160px;
  height: 160px;
  user-select: none;
}

.card-container:hover {
  box-shadow: 10px 10px var(--accent-color-2);
}

.card-title {
  margin: 0;
  padding: 0;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

.card-icon {
  width: 45px;
  height: 45px;
}

.card-button {
  padding: 10px 30px;
  border-radius: 15px;
  background-color: var(--accent-color-2);
  font-weight: bolder;
  border: 2px solid black;
}

.card-button:hover {
  transform: scale(1.15);
  transition: transform 0.2s ease-in-out;
}

#cards-list.show-socials > .card-container.card-social {
  display: flex;
}

#cards-list.show-projects > .card-container.card-project {
  display: flex;
}

@media screen and (width < 768px) {
  #cards-list {
    flex-direction: column;
    overflow-y: scroll;
    gap: 40px;
  }

  .card-container {
    min-height: 140px;
    padding: 10px;
    box-shadow: 5px 5px var(--accent-color-1);
  }

  .card-container:hover {
    box-shadow: 5px 5px var(--accent-color-1);
  }
}
