@import url("./discussion.css");
@import url("./form.css");
@import url("./map.css");
@import url("./menu-mobile.css");
@import url("./menu-web.css");

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}
