/* ======================================================
                    Pour la carte
====================================================== */

#map-container,
#map {
  width: 100%;
  height: 100%;
}

.leaflet-control-zoom {
  display: none;
}

.leaflet-container {
  background-color: rgb(171, 195, 146);
}

#map {
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 0;
}

.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  max-width: 180px;
  padding: 10px;
  overflow: hidden;
}

.leaflet-popup.stage-ai .leaflet-popup-content-wrapper,
.leaflet-popup.stage-ai .leaflet-popup-tip,
#discussion-close.stage-ai {
  background-color: rgb(196, 131, 131);
}

.leaflet-popup.semestre-9 .leaflet-popup-content-wrapper,
.leaflet-popup.semestre-9 .leaflet-popup-tip,
#discussion-close.semestre-9 {
  background-color: rgb(147, 180, 229);
}

.leaflet-popup.pfe .leaflet-popup-content-wrapper,
.leaflet-popup.pfe .leaflet-popup-tip,
#discussion-close.pfe {
  background-color: rgb(147, 229, 151);
}

.leaflet-popup h3 {
  margin: 10px 0 0;
}

.leaflet-popup p.popup-desc {
  margin: 10px 0 0;
}

.custom-marker .marker-number {
  position: relative;
  top: -36px;
  right: -2px;
  font-size: 11px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.custom-marker {
  top: -5px;
  left: -6px;
}

.popup-button {
  margin-top: 10px;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 3px 10px;
  border: 1px solid black;
  color: black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.32);
}
