/* ======================================================
                    Pour le menu
====================================================== */

#menu-container {
  position: relative;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  background-color: white;
}

@media only screen and (width > 767px) {
  #menu-container {
    max-width: 200px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: black;
    border-bottom-right-radius: 5px;
    padding-bottom: 9px;
    padding-right: 7px;
  }

  #mobile-menu {
    display: none !important;
  }
}

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#web-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0;
}

#web-menu h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

#menu-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

#menu-helper-text {
  background-color: rgb(179, 179, 179);
  margin: 5px 5px 0;
  padding: 3px;
  font-size: 15px;
}

#menu-helper-text:hover {
  background-color: rgb(129, 129, 129);
  cursor: help;
}

.menu-button {
  position: relative;
  z-index: 2000;
  width: 56px;
  height: 56px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* add a cursor on hover */
}

#add-user {
  background-image: url("assets/images/add-icon.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
